<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sketch-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sketch-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sketch-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sketch-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Sketch;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sketch.Web.Models.UsersContext, Sketch.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.Sketch" Order="4" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Sketch;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sketch.Core.Database.SketchDbContext, Sketch.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.EventStore" Order="5" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Sketch;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sketch.Core.Infrastructure.Storage.EventStoreDbContext, Sketch.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbContext.EventStore-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Sketch;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbContext.Sketch-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Sketch;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Sketch;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>