@using Newtonsoft.Json
@using Sketch.Web.Serialization
@model  Sketch.Core.ReadModel.DrawingSessionDetail

<header ng-app ng-controller='CounterCtrl'>
    <h1>Stock photo {{elapsed.length}}/{{photos.length + elapsed.length}}</h1>
    <span>
        <span>{{minutes}}</span>:<span>{{seconds}}</span>
    </span>
</header>
<div class='row'>
    <div class='span12'>
        <div class="img-container"></div>
    </div>
</div>
@section scripts
{
    @{
        var settings = new JsonSerializerSettings
                           {
                               ContractResolver = new DrawingSessionContractResolver()
                           };
        settings.Converters.Add(new TimeSpanJsonConverter());
    }
    <script>

        window.Sketch = {
            photos: @Html.Raw(JsonConvert.SerializeObject(Model.Photos, settings))
        };

        resizePhoto();
        $(window).on('resize', resizePhoto);


        function resizePhoto() {
            $('.img-container').height($(window).height() - $('header').height());
        }

        function CounterCtrl($scope) {
            $scope.photos = window.Sketch.photos;
            $scope.elapsed = [];
            $scope.minutes = 0;
            $scope.seconds = 0;
            showNextPhoto();

            function showNextPhoto() {
                var photo = $scope.photos.shift();
                if (photo) {
                    $scope.elapsed.push(photo);

                    $('.img-container').css({
                        backgroundImage: 'url(' + photo.imageUrl + ')',
                    });
                    var timeLeft = photo.duration;
                    var currentTime = new Date().getTime();
                    clearInterval($scope.timer);
                    $scope.timer = setInterval(function() {
                        $scope.$apply(function() {
                            var previousTime = currentTime;
                            currentTime = new Date().getTime();
                            timeLeft = timeLeft - currentTime + previousTime;
                            $scope.minutes = Math.floor(timeLeft / 1000 / 60);
                            $scope.seconds = Math.floor(timeLeft / 1000 - $scope.minutes * 60);
                        });
                    }, 100);

                    setTimeout(showNextPhoto, photo.duration);
                }
            }
        }
    </script>
}