<h1>Sketch</h1>
<div class='row'>
    <div class='span12'>
        <p>30 minutes, 11 images</p>
        @using (Html.BeginForm())
        {
            <button type="submit" class='btn btn-primary btn-large'>Start drawing</button>
        }
    </div>
</div>